In [25]:
import numpy as np
import pandas as pd
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor

In [53]:
data = pd.read_excel('WANY.xlsx')
data.head(5)

,County,total population,senior Total,65-74 total,75-84 total,85+ total,disable population,number of households,median household income,hospital count,hospital beds,number of care home,number of care home beds
0,Albany,307426,45881.0,24380.0,13849.0,7652.0,13303.0,126251,56090.0,5,1413,11,1837
1,Allegany,47025,7951.0,4361.0,2532.0,1058.0,0.0,18208,41305.0,2,55,4,361
2,Bronx,1437872,157983.0,88267.0,47912.0,21804.0,67948.0,483449,34264.0,11,3417,45,11876
3,Broome,194402,34199.0,17339.0,11048.0,5812.0,12788.0,82167,44457.0,3,742,11,1654
4,Cattaraugus,77686,13117.0,7254.0,4133.0,1730.0,4965.0,32263,42466.0,1,186,5,552

In [54]:
y = data['number of care home beds']
y.head()

0     1837
1      361
2    11876
3     1654
4      552
Name: number of care home beds, dtype: int64

In [55]:
x = data.drop(['County','number of care home beds'],axis=1)
x.head()

,total population,senior Total,65-74 total,75-84 total,85+ total,disable population,number of households,median household income,hospital count,hospital beds,number of care home
0,307426,45881.0,24380.0,13849.0,7652.0,13303.0,126251,56090.0,5,1413,11
1,47025,7951.0,4361.0,2532.0,1058.0,0.0,18208,41305.0,2,55,4
2,1437872,157983.0,88267.0,47912.0,21804.0,67948.0,483449,34264.0,11,3417,45
3,194402,34199.0,17339.0,11048.0,5812.0,12788.0,82167,44457.0,3,742,11
4,77686,13117.0,7254.0,4133.0,1730.0,4965.0,32263,42466.0,1,186,5

In [56]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size = 0.2, random_state = 45)

In [57]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 100,
                           n_jobs = -1,
                           oob_score = True,
                           bootstrap = True,
                           random_state = 42)
rf.fit(x_train, y_train)

print('R^2 Training Score: {:.2f} \nOOB Score: {:.2f} \nR^2 Validation Score: {:.2f}'.format(rf.score(x_train, y_train), 
                                                                                             rf.oob_score_,
                                                                                             rf.score(x_valid, y_valid)))

R^2 Training Score: 0.98
OOB Score: 0.83
R^2 Validation Score: 0.82

In [58]:
rf.score(x_valid, y_valid)
feature_importances = pd.DataFrame(rf.feature_importances_,
                                   index = x_train.columns,
                                    columns=['importance']).sort_values('importance',ascending=False)
print(feature_importances)

                         importance
85+ total                  0.412288
number of care home        0.151382
75-84 total                0.150033
hospital beds              0.102958
hospital count             0.052961
total population           0.051457
65-74 total                0.039711
senior Total               0.027619
median household income    0.006153
number of households       0.003169
disable population         0.002268

In [59]:
ypred = rf.predict(x)
yresult = pd.DataFrame(ypred)

In [60]:
print(yresult)

           0
0    2481.85
1     465.26
2    6302.95
3    1706.05
4     520.82
..       ...
96      0.46
97    380.36
98    959.94
99    138.99
100  1160.51

[101 rows x 1 columns]

In [62]:
yresult.to_csv('result.csv')